apiVersion: apps/v1
kind: Deployment
metadata:
  name: labeled-app
  labels:
    app: demo
    tier: backend
    environment: development
spec:
  replicas: 4
  selector:
    matchLabels:
      app: demo
      tier: backend
  template:
    metadata:
      labels:
        app: demo
        tier: backend
        environment: development
    spec:
      containers:
      - name: node-app
        image: node-k8s-demo:v1
        imagePullPolicy: Never
        ports:
        - containerPort: 3000

