apiVersion: v1
kind: Pod
metadata:
  name: json-config-pod
spec:
  containers:
    - name: app
      image: node-k8s-demo:config-v1
      imagePullPolicy: Never
      volumeMounts:
        - name: config
          mountPath: /app/config
  volumes:
    - name: config
      configMap:
        name: app-json-config
